<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Alunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="salvar(form)">

    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="cadastro.nome" type="text" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gênero:</ion-label>
      <ion-select name="genero" [(ngModel)]="cadastro.genero" interface="action-sheet" required>
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone:</ion-label>
      <ion-input [(ngModel)]="cadastro.telefone" name="telefone" type="tel" required></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Matrícula:</ion-label>
      <ion-input [(ngModel)]="cadastro.matricula" name="matricula" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Aluno Bilingue:</ion-label>
      <ion-toggle [(ngModel)]="cadastro.aluno_bilingue" name="aluno_bilingue" required></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Cursos de Tecnologia:</ion-label>
      <ion-checkbox-group name="curso_tec" [(ngModel)]="cadastro.curso_tec" required>
        <ion-checkbox value="html">HTML</ion-checkbox>
        <ion-checkbox value="php">PHP</ion-checkbox>
        <ion-checkbox value="csharp">C#</ion-checkbox>
      </ion-checkbox-group>
    </ion-item>

    <ion-button type="submit" expand="block" name="botao-cadastrar" [disabled]="!form.valid">Cadastrar</ion-button>
  </form>
</ion-content>
